<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assignment1 (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Assignment1 (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Assignment1 (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Assignment1 (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Assignment1 (VST3).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>69B312022097F20B743CCF2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AD8C02CB4CBA6649A72A2B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE8D667EBCEF015A5C42BFAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA481A96DDF13A49A29E1EA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED95B2E41E7C978A52C03F4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
